:root {
    --content-max-width: 65rem;
    --notice-tip-border-color: var(--color-accent);
    --link-color: var(--theme-color);
}

p, ul {
    text-align: justify;
}

.app-nav {
    display: flex;
    justify-content: flex-end;
}